// Colors
$primary: #4DCDC9;
$primaryDarker: #57C8CB;
$secondary: #1B2645;

$white: white;

$black: black;
$text-black: #181818;

// Fonts
$font-weights: (
    'light' : 300,
    'regular' : 400,
    'medium' : 500,
    'bold' : 700
);
