@import "../variables";

.header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    color: $white;
    
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo-container {
        min-width: 600px;
        padding: 20px 0;
    }

    &__nav-container {
        width: 100%;
        padding: 20px 0;

        ul {
            display: flex;
            justify-content: flex-end;
            gap: 24px;
        }
    }
}