@use "sass:map";

.header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    color: $white;
    padding: 24px 0;
    transition: .3s linear;

    &.active {
        background-color: $secondary;
        box-shadow: 0 0 8px 2px rgba($black, .4);
        padding: 10px 0;
        transition: .3s linear;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__logo-container {
        max-width: 220px;
    }

    &__logo {
        width: 100%;
        height: auto;
    }

    &__nav-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        ul {
            display: flex;
            justify-content: flex-end;
            gap: 36px;

            a {
                font-weight: map.get($font-weights, 'medium');
                color: $white;
                text-transform: uppercase;
                transition: .3s linear;

                &:hover {
                    color: $primary;
                    transition: .3s linear;
                }
            }
        }
    }
}