.header {
  position: fixed;
  top: 0;
  left: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.header__nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}