.about-us {

    &__container {
        display: flex;
        gap: 62px;
    }

    &__image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 420px;

        img {
            width: 100%;
            height: auto;
            border-radius: 12px;
        }
    }

    &__text-container {
        
        p {
            margin-bottom: 12px;
        }
    }

    &__title {
        color: $secondary;
        margin-bottom: 32px;
    }
}