@use "sass:map";

.contact-us {

    &__title {
        color: $secondary;
        text-align: center;
        margin-bottom: 32px;
    }

    &__subcontainer {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /* -- Contact Info -- */
    &__contact-info {
        color: $white;
        background-color: $secondary;
        border-radius: 12px;
        width: 100%;
        max-width: 320px;
        padding: 24px;
    }

    &__contact-info-title {
        margin-bottom: 24px;
    }

    &__contact-phone,
    &__contact-email,
    &__contact-address {
        display: flex;
        font-size: 14px;
        font-weight: map.get($font-weights, 'medium');
        gap: 12px;
        color: $white;
        margin-bottom: 8px;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}